# RAISE App - Kyma APIRule v2 (Ingress)
# This is the Kyma-specific resource for exposing services externally
apiVersion: gateway.kyma-project.io/v2
kind: APIRule
metadata:
  name: raise-app
  namespace: raise-app
  labels:
    app: raise-app
spec:
  # Host for the application
  # ${KYMA_CLUSTER_DOMAIN} will be replaced by CI/CD
  hosts:
    - raise-app.${KYMA_CLUSTER_DOMAIN}

  # The Kyma gateway to use
  gateway: kyma-system/kyma-gateway

  # Backend service reference
  service:
    name: raise-app
    port: 80

  # Access rules - allow all for SPA (auth handled in frontend)
  rules:
    - path: /*
      methods:
        - GET
        - POST
        - PUT
        - DELETE
        - PATCH
        - OPTIONS
      noAuth: true
